<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Information Page</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h3>User Information Page</h3>
<div class="card mt-3">
    <div class="card-header">
        About User
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Roles</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}">1</td>
                <td th:text="${user.firstName}">Admin</td>
                <td th:text="${user.lastName}">Admin</td>
                <td th:text="${user.age}">28</td>
                <td th:text="${user.email}">admin@admin</td>
                <td>
                    <span th:if="${#lists.size(user.roles) > 0}">
                        <span>[</span>
                        <span th:each="role, iterStat : ${user.roles}">
                            <span th:text="${role.name}"></span>
                            <span th:if="${!iterStat.last}">, </span>
                        </span>
                        <span>]</span>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
